<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ pageTitle }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="unitTypeForm" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isSubmitting" style="border:0;">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nama" formControlName="name">
          <mat-hint *ngIf="!unitTypeForm.controls['name'].valid && unitTypeForm.controls['name'].touched" > Nama diperlukan </mat-hint> 
        </mat-form-field>

        <button md-raised-button [disabled]="!unitTypeForm.valid" type="submit">
          {{ title }}
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>