<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ pageTitle }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isSubmitting" style="border:0;">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nama" formControlName="name">
          <mat-hint *ngIf="!categoryForm.controls['name'].valid && categoryForm.controls['name'].touched" > Nama diperlukan </mat-hint> 
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Index jual" formControlName="idx_sale_price">
          <mat-hint *ngIf="!categoryForm.controls['idx_sale_price'].valid && categoryForm.controls['idx_sale_price'].touched" > Index jual diperlukan </mat-hint> 
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Index jual untuk resep" formControlName="idx_sale_price_prescription">
          <mat-hint *ngIf="!categoryForm.controls['idx_sale_price_prescription'].valid && categoryForm.controls['idx_sale_price_prescription'].touched" > Index jual resep diperlukan </mat-hint> 
        </mat-form-field>

        <button md-raised-button [disabled]="!categoryForm.valid" type="submit">
          {{ title }}
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>