<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Kategori</h2>
      <span class="spacer"></span>
      <mat-form-field floatPlaceholder="never" style="padding-right: 50px;">
        <input matInput #filter placeholder="Filter kategori">
      </mat-form-field>
      <a class="mat-raised-button" routerLink="/categories/add">Tambah Kategori</a>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
     <div *ngIf="loading">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> Nama </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="idx_sale_price">
        <mat-header-cell *cdkHeaderCellDef> Index Penjualan </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.idx_sale_price}} </mat-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="idx_sale_price_prescription">
        <mat-header-cell *cdkHeaderCellDef> Index Penjualan Resep </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.idx_sale_price_prescription}} </mat-cell>
      </ng-container>
      
      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef> Aksi</mat-header-cell>
        <mat-cell *cdkCellDef="let row">
            <button md-raised-button (click)="openDialog(row)" color="warn">Hapus</button>
            <a class="mat-raised-button" routerLink="/categories/{{row.id}}">Rubah Kategori</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="2"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card-content>
</mat-card>