<mat-card class="auth-form">
  <mat-card-title>
    <h2>{{ title }}</h2>
  </mat-card-title>
  <mat-card-subtitle>
    <a [routerLink]="['/login']" *ngIf="authType == 'register'">Masuk</a>
    <a [routerLink]="['/register']" *ngIf="authType == 'login'">Daftar</a>

    <list-errors [errors]="errors"></list-errors>
  </mat-card-subtitle>

  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username">
        <mat-hint *ngIf="!authForm.controls['username'].valid && authForm.controls['username'].touched" > Masukkan username </mat-hint> 
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="authType == 'register'">
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-hint *ngIf="!authForm.controls['email'].valid && authForm.controls['email'].touched" > Masukkan email </mat-hint> 
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-hint *ngIf="!authForm.controls['password'].valid && authForm.controls['password'].touched" > Masukkan password </mat-hint> 
      </mat-form-field>
      <button mat-raised-button [disabled]="!authForm.valid" type="submit">
        {{ title }}
      </button>
    </fieldset>
  </form>
</mat-card>