<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ pageTitle }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="subCategoryForm" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isSubmitting" style="border:0;">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nama" formControlName="name">
          <mat-hint *ngIf="!subCategoryForm.controls['name'].valid && subCategoryForm.controls['name'].touched" > Nama diperlukan </mat-hint> 
        </mat-form-field>

        <div flex style="margin-bottom: 20px">
          <mat-select placeholder="Kategori" formControlName="categoryId" >
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>         
        </div>

        <button md-raised-button [disabled]="!subCategoryForm.valid" type="submit">
          {{ title }}
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>