<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Apotek Saras</span>
  <span class="spacer"></span>
  <span style="padding: 0 200px;" *showAuthed="true">
    <button mat-raised-button (click)="logout()" color="accent">
      Keluar
    </button>
  </span>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side">
    <mat-list *ngFor="let item of listLinks">
      <a routerLink={{item.link}}>
        <mat-list-item> {{ item.name }}</mat-list-item>
      </a>
    </mat-list>
  </mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
