<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Dokter</h2>
      <span class="spacer"></span>
      <mat-form-field floatPlaceholder="never" style="padding-right: 50px;">
        <input matInput #filter placeholder="Filter kategori">
      </mat-form-field>
      <a class="mat-raised-button" routerLink="/doctors/add">Tambah Dokter</a>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
     <div *ngIf="loading">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> Nama </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user.full_name}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef> Email </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.user.email}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="desc">
        <mat-header-cell *cdkHeaderCellDef> Keterangan </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.desc}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="phone_number">
        <mat-header-cell *cdkHeaderCellDef> Nomer Telepon </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.phone_number}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="address">
        <mat-header-cell *cdkHeaderCellDef> Alamat </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.address}} {{row.city}} </mat-cell>
      </ng-container>
      
      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef> Aksi</mat-header-cell>
        <mat-cell *cdkCellDef="let row">
            <button md-raised-button (click)="openDialog(row)" color="warn">Hapus</button>
            <a class="mat-raised-button" routerLink="/doctors/{{row.id}}">Rubah Dokter</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="2"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card-content>
</mat-card>