<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ pageTitle }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="doctorForm" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isSubmitting" style="border:0;">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nama Depan" formControlName="first_name">
          <mat-hint *ngIf="!doctorForm.controls['first_name'].valid && doctorForm.controls['first_name'].touched" > Nama diperlukan </mat-hint> 
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Nama Belakang" formControlName="last_name">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Nomor Telpon" formControlName="phone_number">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Keterangan" formControlName="desc">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Alamat" formControlName="address">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Kota" formControlName="city">
        </mat-form-field>

        <button md-raised-button [disabled]="!doctorForm.valid" type="submit">
          {{ title }}
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>