<mat-card class="table-mat-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ pageTitle }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="embalaseForm" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isSubmitting" style="border:0;">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nama" formControlName="name">
          <mat-hint *ngIf="!embalaseForm.controls['name'].valid && embalaseForm.controls['name'].touched" > Nama diperlukan </mat-hint> 
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Harga" formControlName="price">
          <mat-hint *ngIf="!embalaseForm.controls['price'].valid && embalaseForm.controls['price'].touched" > Harga diperlukan </mat-hint> 
        </mat-form-field>

        <button md-raised-button [disabled]="!embalaseForm.valid" type="submit">
          {{ title }}
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>