@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

md-sidenav {
    width: 250px;
}

mat-form-field {
    margin-bottom: 20px;
}

md-sidenav.mat-sidenav.mat-sidenav-side.mat-sidenav-opened {
    border-right: 1px solid;
    border-right-color: rgba(0, 0, 0, 0.06);
}

.mat-list {
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.06);
}

.mat-list:hover {
    background: aliceblue;
}

.mat-list a {
    text-decoration: none;
}

.table-mat-card {
    margin: 50px;
    width: 90%;
}

.auth-form {
    width: 500px;
    margin: 30px auto;
}

.full-width {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.spinner {
    margin: 0 auto;
}

fieldset {
    border: 0;
}